<form [formGroup]="form">
  <div class="flex flex-col">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input
        matInput
        type="text"
        formControlName="name"
        appInputUppercase
        required
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Super Power</mat-label>
      <input
        matInput
        type="text"
        formControlName="superPower"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Strength</mat-label>
      <input
        matInput
        type="number"
        formControlName="strength"
      />
    </mat-form-field>
  </div>
</form>
<div class="flex items-end">
  <mat-spinner *ngIf="isLoading" [diameter]="50"></mat-spinner>
  <button
    *ngIf="!isLoading"
    class="mr-2"
    type="submit"
    [disabled]="!form.valid"
    mat-raised-button
    (click)="onSave.emit()"
    color="primary"
  >
    Save
  </button>
  <button *ngIf="!isLoading" (click)="onCancel.emit()" mat-button [disabled]="isLoading">
    Cancel
  </button>
</div>
